/* General Styling */
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
  margin: 0;
}
input {
	border: none;
	padding: 15px;
	background-color: #efefef;
	width: 100%;
}
button {
	background-color: #73FFE0;
	border: none;
	padding: 15px;
	width: 100%;
}
button:hover {
	background-color: #50e3c2;
}
/* Header styling */
header {
	background-color: #50e3c2;
}
h1#title {
	text-align: center;
	color: #fff;
}
/* error styling */
#error_message {
	margin: 15px 0;
	background-color: #FF9494;
	padding: 15px;
	color: #fff;
	display: none;
}